{% extends "website/main.html" %}

{% block ex_header %}
  <style>
.stretch{
/* Will stretch to specified width/height */
  background-size: 200px 150px;
}
.stretch-content{
/* Will stretch to width/height of element */
  background-size: 100% 100%;
}

.resize-width{
/* width: 150xp, height: auto to retain aspect ratio */
  background-size: 150px Auto;
}
.resize-height{
/* height: 150xp, width: auto to retain aspect ratio */
  background-size: Auto 150px;
}
.resize-fill-and-clip{ 
  /* Resize to fill and retain aspect ratio.
     Will cause clipping if aspect ratio of box is different from image. */ 
  background-size: cover;
}
.resize-best-fit{
/* Resize to best fit and retain aspect ratio.
   Will cause gap if aspect ratio of box is different from image. */ 
  background-size: contain;
}
  </style>
  <script>
    $(function() {
	$('.carousel').carousel()
    });
  </script>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        <a href='/shop/guys/'>
            <img src="/static/img/revink_guys.png"/>
        </a>
    </div>
    <div class="span6">
        <a href='/shop/girls/'>
            <img src="/static/img/revink_girls.png" />
        </a>
    </div>
</div>

{% endblock %}
