{% extends "website/main_new.html" %}


{% block content %}
<!--
<div class="row-fluid">
  <div class="span8 offset2">
-->
  <div class="row-fluid">
  {% if product_lists %}
  {% for name,item_list in product_lists.items %}
    <div class="col-md-12">
        <h1>{{ name }}</h1>
        {% if item_list %}
        <div class="well">
            <div id="smlCarousel_{{ forloop.counter }}" class="aCarousel carousel slide media-carousel-xs visible-sm visible-xs">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  {% for item in item_list %}
                    {% if forloop.counter0 == 0 %}
                    <!-- if forloop.counter0 == 0 -->
                    <div class="item active">
                        <div class="row">
                    {% elif forloop.counter0|divisibleby:"3" %}
                    <!-- elif forloop.counter0|divisibleby:"3" -->
                    <div class="item">
                        <div class="row">
                    {% endif %}

                            <div class="col-xs-4">
                             <a href="/shop/{{ item.id }}/">
                               <img src="{{ item.front.url }}" alt="Image" width="150px">
                             </a>
                            </div>

                    {% if forloop.last or forloop.counter|divisibleby:"3" %}
                    <!-- if forloop.last or forloop.counter|divisibleby:"3" -->
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    {% endif %}
                  {% endfor %}
                </div>
                <!--/carousel-inner-->
                <a class="left carousel-control" href="#smlCarousel_{{ forloop.counter }}" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#smlCarousel_{{ forloop.counter }}" data-slide="next">›</a>
            </div>
            <!--/smlCarousel_{{ forloop.counter }}-->
            <div id="myCarousel_{{ forloop.counter }}" class="aCarousel carousel slide media-carousel-up hidden-sm hidden-xs">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  {% for item in item_list %}
                    {% if forloop.counter0 == 0 %}
                    <!-- if forloop.counter0 == 0 -->
                    <div class="item active">
                        <div class="row">
                    {% elif forloop.counter0|divisibleby:"4" %}
                    <!-- elif forloop.counter0|divisibleby:"4" -->
                    <div class="item">
                        <div class="row">
                    {% endif %}

                            <div class="col-lg-3 col-md-3">
                             <a href="/shop/{{ item.id }}/"><img src="{{ item.front.url }}" alt="Image" class="img-responsive"></a>
                            </div>

                    {% if forloop.last or forloop.counter|divisibleby:"4" %}
                    <!-- if forloop.last or forloop.counter|divisibleby:"4" -->
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    {% endif %}
                  {% endfor %}
                </div>
                <!--/carousel-inner-->
                <a class="left carousel-control" href="#myCarousel_{{ forloop.counter }}" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel_{{ forloop.counter }}" data-slide="next">›</a>
            </div>
            <!--/myCarousel_{{ forloop.counter }}-->
        </div>
        <!--/well-->
        {% else %}
          <div class="well"> Sorry, all products in this category have sold out! More inventory coming soon.</div>
        {% endif %}
    </div>
  {% endfor %}
  {% endif %}
  </div>
<!--
  </div>
</div>
-->
{% endblock %}
