<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>REV-INK.com | The Road Ahead is Calling..</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='description' content=''>
    <meta name='author' content=''>

    <!-- Le javascript
    ================================================== -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js'></script>
    <script src='/static/bootstrap/js/bootstrap.js'></script>
    <script src='/static/js/twitter_latest.js'></script>
    <script src='/static/js/ajax_request.js'></script>
    <script src='/static/js/shopping_cart.js'></script>
    <!-- Le styles
    ================================================== -->
    <link href='/static/bootstrap/css/bootstrap.css' rel='stylesheet'>
    <style type='text/css'>
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .uneditable-input, .add-on {
        color:#333;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .icon-twitter {
        background:url('/static/img/twitter-bird-16x16.png') 0 0;
      }
      body {
        background: #FFF url('/static/img/background.png') no-repeat fixed center;
        /* Resize to best fit and retain aspect ratio.
        Will cause gap if aspect ratio of box is different from image. */ 
        background-size: cover;
      }
      footer {
        color:white;
      }
      #body-container , legend{
      	color: white;
      }
      /* Increase modal width
      body .modal {
        width:60%;
        left:20%;
        margin-left: auto;
        margin-right: auto;
      }
      /*End increase modal style*/
.center-tabs > li, .center-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.center-tabs, .center-container{
    text-align:center;
}
    </style>
    <script>
    $().ready(function() {
      $('#submit-cart').click( function() {
        window.location = '/cart/purchase/';
      });
    });
    </script>
    <script>
    $().ready(function() {
      $('.dropdown-toggle').dropdown();
      //$('#cart-modal').modal('hide');
    });
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    </script>
    <link href='/static/bootstrap/css/bootstrap-responsive.css' rel='stylesheet'>

    <link rel='shortcut icon' href='/static/ico/favicon.ico'>
    {% block ex_header %}
    <!--Web specific content here -->
    {% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
  </head>
  <body>
    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container-fluid'>
          <a class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </a>
          <a class='brand' href='/'>Revelation Ink Clothing Co.</a>
          <div class='nav-collapse collapse'>
            <ul class='nav pull-right'>
              <li>
                <p class='navbar-text'>
                  <a href='#cart-modal' class='navbar-link' data-toggle='modal'><i class='icon-shopping-cart'></i>Shopping Cart</a>
                </p>
	      </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class='container-fluid'>
      <div class='row-fluid'>
          <div id='logo-container' class='span12 center-container'>
              <a href='/'><img src='/static/img/header.png' alt='Rev-Ink Header Logo'/></a>
          </div>
      </div>
      <div class='row-fluid'>
          <div id='nav-container' class='span12'>
            <ul class='nav nav-tabs center-tabs'>
              <li id='menu1'><a href='/'><img src="/static/img/Home_Button.png"/></a></li>
              <li id='menu2'><a href='/shop/'><img src="/static/img/Shop_Button.png"/></a></li>
              <li id='menu3'><a href='/about/'><img src="/static/img/About_Button.png"/></a></li>
              <li id='menu4'><a href='/contact/'><img src="/static/img/Contact_Button.png"/></a></li>
              <li id='menu5'><a href='/social/'><img src="/static/img/Where_To_Buy_Button.png"/></a></li>
              <li id='menu6'><a href='/'><img src="/static/img/Talent_Button.png"/></a></li>
            </ul>
          </div><!--/row-->
      </div>
      <div class='row-fluid'>

        <div class='span2'>
          <div class='well sidebar-nav btn-inverse'>
            <ul id='twitter-list' class='nav nav-list'>
              <li class='nav-header'><i class='icon-twitter'></i>Twitter Feed:</li>
		<!-- Add twitter feed here -->
            </ul>
          </div><!--/.well -->
        </div><!--/span2-->

        <div class='span8'>
          <div id='body-container' class=''>
            {% block content %}
            {% endblock %}
          </div>
          <div class='row-fluid'>
          </div><!--/row-->
        </div><!--/span8-->
        <div id='rhs-spacer' class='span2'></div><!--/span2 (spacer)-->
      </div><!--/row-->

      <hr>

      <footer>
        <p align="center">Revelation-Ink Clothing Co &copy;2012 - Designed by <a href='http://www.steve-gregory.com'>Steve Gregory</a></p>
      </footer>

    </div><!--/.fluid-container-->
    <!-- MODALS -->
    <div class="modal hide fade in" style='display:none;' id="cart-modal" tabindex="-1" aria-labelledby="Shopping cart" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">Shopping Cart</h3>
      </div>
      <div class="modal-body">
        <div class='pull-right' id='shopping-cart-refresh'><i class='icon-repeat'></i></div>
        <table class='table table-stripe'>
          <thead>
           <tr>
             <th>Quantity</th>
             <th>Item Image</th>
             <th>Item Description</th>
             <th>Price</th>
             <th>Total</th>
           </tr>
          </thead>
          <tbody id='shopping-cart-rows'>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-inverse pull-left" data-dismiss="modal" aria-hidden="true">Continue Shopping</button>
        <button class="btn btn-danger" id='submit-cart' >Proceed to PayPal Checkout</button>
      </div>
    </div>
    <!-- end modal -->
  </body>
</html>
