{% extends "website/main_new.html" %}
{% block ex_header %}
  <script>
    $().ready(function() {
      show_transaction();
      $('#cart-purchase').click(function() {
	window.location = '/cart/purchase/';
      });
      $('#cart-cancel').click(function() {
	window.location = '/';
      });
    });
  </script>
  <style>
    #show-cart-frame {
	color:#000;
    }
    .note-text {
	font-style:italic;
	color:#222;
    }
  </style>
{% endblock %}
{% block content %}
<div class="row" id='show-cart-frame'>
  <div class="col-md-12">
   <h3> Review Transaction</h3>
   <p> Your transaction is not yet complete! Please confirm your order is correct and press Confirm Transaction</p>
   <table class='table table-stripe'>
     <thead>
      <tr>
        <th>Quantity</th>
        <th>Item Image</th>
        <th>Item Description</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
     </thead>
     <tbody id='review-transaction-rows'>
       <tr class='total-row'>
        <td colspan='3'>Subtotal:</td>
        <td>${{cart_pretax}}</td>
       </tr>
       <tr class='total-row'>
        <td colspan='3'>Sales Tax:</td>
        <td>${{cart_tax_total}} ({{cart_tax}}%)</td>
       </tr>
       <tr class='total-row'>
        <td colspan='3'>Shipping:</td>
        <td>{% if shipping_total %} ${{ shipping_total }} {% else %} FREE {% endif %}</td>
       </tr>
       <tr class='total-row'>
        <td colspan='3'>TOTAL:</td>
        <td>${{cart_total}}</td>
       </tr>
     </tbody>
   </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form>
    <!--Show billing, shipping, last 4 of CC and that Info, ALL HIDDEN -->
   <button type="submit" id='cart-cancel' class='btn btn-inverse'>Return To Shopping</button>
   <button type="submit" id='cart-confirm' class='btn btn-danger pull-right'>Purchase Shopping Cart</button>
    </form>
  </div>
</div>
{% endblock %}
