{% extends "website/main.html" %}
{% block ex_header %}
<style>
  .marked-down {
    color: #F00;
    text-decoration:line-through;
  }

  #filter-list div h6 {
    color: red;
  }

  #filter-list div a {
    color: white;
    width: 100%;
  }

  #filter-list div .selected {
    color: white;
    font-weight : bold;
  }
  .thumbnail {
    color: black;
    font-size: 150%;
  }
</style>
<script>
//Closest & Find
  //Function to turn selected classes into a GET query
/*
$('a.selected').each(function(index) { console.log(this.text,$($(this).parents('.filter-category').children()[0]).text()); })

*/
  //Function to filter the list based on the GET query
  $().ready(function() {
    $('#filter-list div a').click(function(){
      $(this).addClass('selected');
      $(this).siblings().removeClass('selected');
    });
    $('.clothing-item').click(function() {
        console.log('/shop/'+this.id);
        window.location='/shop/'+this.id;
      });

  });
</script>
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span12">
  {% if item_list %}
    {% for item in item_list %}
      {% if forloop.counter0|divisibleby:"3" %}<ul class="row-fluid thumbnails">{%endif%}
      <li id='{{item.id}}' class="clothing-item span4 thumbnail">
       <img src="{{server_url}}{{ item.front.url }}" />
       <p>{{ item.name }}<br/>
       Price:
       {% if item.markdownPrice != 0 %}
         <span class="marked-down">${{ item.price|floatformat:2 }}</span> ${{ item.markdownPrice }}
       {% else %}
         ${{ item.price }}
       {% endif %}
       </p>
      </li>
      {% if forloop.last or forloop.counter|divisibleby:"3" %}</ul>{% endif %}
    {% endfor %}
  {% else %}
    <p>No Items matched your search.</p>
  {% endif %}
  </div><!--End span10 -->
</div><!--End row-fluid -->
{% endblock %}
