{% extends "website/main.html" %}

{% block content %}
<div class="row">
  <div class="span2"></div>
  <div class="span8">
    <p>Now In stores at Perfomance Footwear:</p>
    <img src='https://www.google.com/maps/vt/data=Ay5GWBeob_WIPLDYoIWcfVXxvZu9XwJ55OX7Ag,tnulhTqx2zWLcVRa1_DMG-FQidzjwg9obvYg3dbrw2W4UfGr1ZGJtoZQ-KLXgeUfeLpQ3RUlYCsf5Xu1eP0suiBuQiUKFNhWVAGqxre_jjS1KyAueMk_nWFVMA2up5kWlF64UQ'></img>
    <p>Address: 5350 East Broadway Boulevard, Tucson, AZ 85711</p>
    <p>Phone: (520) 790-0017</p>
  </div>
  <div class="span2"></div>
</div>
{% endblock %}
