{% extends "website/main_new.html" %}
{% block ex_header %}
  <script>
    $().ready(function() {
    });
  </script>
  <style>
    #review-info {
	color:#000;
    }
    #show-cart-frame {
	color:#000;
    }
    .note-text {
	font-style:italic;
	color:#222;
    }
  </style>
{% endblock %}
{% block content %}
<div class="row-fluid" id='show-cart-frame'>
  <div class="span12">
   <h3> Transaction Complete</h3>
   <table class='table table-stripe'>
     <thead>
      <tr>
        <th>Quantity</th>
        <th>Item Image</th>
        <th>Item Description</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
     </thead>
     <tbody id='review-transaction-rows'>
    {% for item in cart_list %}
       <tr class="cart-item" id="cart-item-{{forloop.counter}}">
        <td>
            <input readonly="readonly" class="input-small cart-item-quantity" type="number" value="{{item.quantity}}"/>
        </td>
        <td>
            <img class="thumbnail" src="{{server_url}}{{item.image_url}}">
        </td>
        <td>{{item.name}}<br>Size:{{item.size}}<br>{{item.description}}</td>
        <td class="cart-item-price">{{item.price}}</td>
        <td class="cart-item-total">{{item.total}}</td>
       </tr>
    {% empty %}
       <tr class="cart-item">
        <td colspan='4'>No Items In Cart!</td>
       </tr>
    {% endfor %}
       <tr class='total-row'>
        <td colspan='3'>Subtotal:</td>
        <td>${{cart_pretax}}</td>
       </tr>
       <tr class='total-row'>
        <td colspan='3'>Sales Tax:</td>
        <td>${{cart_tax_total}} ({{cart_tax}}%)</td>
       </tr>
       <tr class='total-row'>
        <td colspan='3'>Shipping:</td>
        <td>{% if shipping_total %} ${{ shipping_total }} {% else %} FREE {% endif %}</td>
       </tr>
       <tr class='total-row'>
        <td colspan='3'>TOTAL:</td>
        <td>${{cart_total}}</td>
       </tr>
     </tbody>
   </table>
  </div>
</div>
<div class="row-fluid">
  <div class="span12" id="review-info">
   <p> Your transaction is complete! Keep this confirmation number for your records. </p>
      <strong>{{ transaction_id }}</strong>
  </div>
</div>
{% endblock %}
