{% extends "website/main.html" %}
{% block ex_header %}
  <script>
    $().ready(function() {
      show_transaction();
      $('#cart-confirm').click(function() {
	window.location = '/checkout/collect/';
      });
      $('#cart-cancel').click(function() {
	window.location = '/';
      });
    });
  </script>
  <style>
    #show-cart-frame {
	color:#000;
    }
    .note-text {
	font-style:italic;
	color:#222;
    }
  </style>
{% endblock %}
{% block content %}
<div class="row" id='show-cart-frame'>
  <div class="span12">
   <h3>Shopping Cart</h3>
   <table class='table table-stripe'>
     <thead>
      <tr>
        <th>Quantity</th>
        <th>Item Image</th>
        <th>Item Description</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
     </thead>
     <tbody id='review-transaction-rows'>
       <tr class='total-row'>
        <td colspan='3'>Subtotal:</td>
        <td>${{cart_pretax}}</td>
       </tr>
       <tr class='total-row'>
        <td colspan='3'>Shipping:</td>
        <td><span class='note-text'>Calculated at checkout</span></td>
       </tr>
       <tr class='total-row'>
        <td colspan='3'>Sales Tax:</td>
        <td>${{cart_tax_total}} ({{cart_tax}}%)</td>
       </tr>
       <tr class='total-row'>
        <td colspan='3'>TOTAL:</td>
        <td>${{cart_total}}</td>
       </tr>
     </tbody>
   </table>
  </div>
</div>
<div class="row">
  <div class="span12">
   <button id='cart-cancel' class='btn btn-inverse'>Return To Shopping</button>
   <button id='cart-confirm' class='btn btn-danger pull-right'>Purchase Shopping Cart</button>
  </div>
</div>
{% endblock %}
